# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Environments
.env
.env.*
!.env.example
.python-version
.venv/
venv/
env/
ENV/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.eggs/
*.egg-info/
*.egg
build/
dist/
pip-wheel-metadata/
.Python
__pypackages__/

# Test and type caches
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.dmypy.json
.coverage
coverage.*
htmlcov/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
*.tfplan
